.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.authLinks {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-left: 20px;
}


.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

span {
  padding-right: 1rem;
}
