<mat-toolbar color="primary" class="navbar">
<div class="nav-links">

    <a mat-button href="./home">Home</a>
    <a mat-button href="">Trending</a>
    <a mat-button href="">Subscription</a>
    <a mat-button href="">Library</a>

    <button mat-icon-button style="color: white;" class="upload-button" [routerLink]="['/CreateVideo']">
      <mat-icon>add_box</mat-icon>
    </button>

    <button *ngIf="isLoggedIn" style="color: white;" mat-icon-button [routerLink]="'/chat'">
      <mat-icon>chat</mat-icon>
    </button>
    <a mat-raised-button href="register" color="accent">Register</a>

    <span *ngIf="isLoggedIn">
  <span
    class="wallet"
    style="margin-right: 10px; cursor: pointer;"
    (click)="goToCardPayment()"
  >
    💰 {{ walletBalance | currency }}
  </span>
  Welcome, {{ userName }}!
  <button mat-raised-button color="warn" (click)="logout()">
    Logout
  </button>
</span>

    <ng-template #signInBlock>
    	<a mat-raised-button href="" color="accent">Sign in</a>
 	</ng-template>

  </div>
</mat-toolbar>
