<div class="video-container">
    <h2>{{ videoData.VideoName }}</h2>
  
    <video *ngIf="videoUrl" controls
      controlsList="nodownload"
      muted>
      <source [src]="videoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <button (click)="getAll()">Get Data</button>
    <button (click)="getVideoFile(videoData.VideoId)">Load Video</button>

  
    <p><strong>Description:</strong> {{ videoData.Description }}</p>
    <p><strong>Category:</strong> {{ videoData.CategoryName }}</p>
    <p><strong>Uploaded by:</strong> {{ videoData.UserName }}</p>
    <p><strong>Upload Date:</strong> {{ videoData.UploadDate | date:'medium' }}</p>
    <p><strong>Views:</strong> {{ videoData.ClickCounter }}</p>
  
  </div>