<!-- Display none file upload -->
<input type="file" #file class="file-input" (change)="onFileSelected($event)" #fileUpload>

<!-- Video Name -->
<mat-form-field appearance="fill">
  <mat-label>Name of the video</mat-label>
  <input matInput [(ngModel)]="videoData.videoName" required type="text">
</mat-form-field>

<div class="dropzone">
  <mat-icon>upload</mat-icon>
  <div>Drag and drop your file here</div>
  <div>or</div>
  <button mat-mini-fab color="primary" class="upload-button" (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<!-- Displayed File Upload -->
<div class="file-upload">
  <span *ngIf="fileName">{{ fileName }}</span>
  <button mat-mini-fab color="primary" class="upload-button" (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>
<!-- Progress bar -->
<div class="progress">
  <mat-progress-bar *ngIf="isUploading" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
  <button mat-mini-fab color="warn" *ngIf="isUploading" (click)="cancelUpload()">
    <mat-icon>cancel</mat-icon>
  </button>
</div>

<!-- Description -->
<mat-form-field appearance="fill">
  <mat-label>Description of your video</mat-label>
  <input matInput [(ngModel)]="videoData.description" type="text">
</mat-form-field>

<!-- Dropdown for categories -->
<mat-form-field appearance="fill">
  <mat-label>Cateogry</mat-label>
  <mat-select [(ngModel)]="videoData.categoryId" required>
    <mat-option *ngFor="let category of categories" [value]="category.categoryId">
      {{ category.categoryName }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="accent" (click)="uploadVideo()">Upload</button>
